<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>See raspberry pi dht11 sensor data below:</p>
    <% if (sensorData !== undefined) { %>
      <ul>
        <li>current temperature: <%= sensorData.sensor_read__temperature %></li>
        <li>current humidity: <%= sensorData.sensor_read__humidity %></li>
      </ul>
    <% } %>
    
  </body>
</html>
